<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./style/tools.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Password Wallet</title>
  </head>

  <body onload="generatePassword()">

    <nav class="navbar navbar-expand-lg navbar-dark position-fixed header" style="right: 0; left: 0;">
      <div class="container-fluid">
        <a class="navbar-brand ms-1" href="./home.html">
          Password 
          <span style="color: #04192F">Wallet</span>
        </a>
        <div class="d-flex flex-row-reverse">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="./home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./tools.html">Tools</a>
              </li>
          </div>
        </div>
      </div>
    </nav>

    <h3 class="title">Password Generator</h3>
    <div class="line"></div>
    
    <div class="container">
      <input class="passwordGenerator" type="text" value="" id="password-generator">
    </div>

    <div class="form-check position-absolute psw-checkbox">
      <input class="form-check-input no-border"type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        password
      </label>
    </div>

    <div class="form-check position-absolute passphrase-checkbox">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        passphrase
      </label>
    </div>
    
    <form class="container position-absolute selects-container">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="a-z" checked>
        <label class="form-check-label" for="inlineCheckbox1">a-z</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="special-chars" value="">
        <label class="form-check-label" for="inlineCheckbox2">!@#$%^&*/§</label>
      </div>
      <br>
      <div class="form-check form-check-inline" style="margin-right: 13px;">
        <input class="form-check-input" type="checkbox" id="a-z-uppercase" value="" checked>
        <label class="form-check-label" for="inlineCheckbox1">A-Z</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="ambiguous-chars" value="" checked>
        <label class="form-check-label" for="inlineCheckbox2">Avoid Ambiguous Characters</label>
      </div>
      <div class="form-check mb-2" style="max-width: 100px;">
        <input class="form-check-input" type="checkbox" id="numbers" value="" checked>
        <label class="form-check-label" for="flexCheckChecked">
          0-9
        </label>
      </div>
      
    </form>

    <div class="container-md position-absolute lenght">
     <div style="margin-bottom: 8px; width: 100px !important;">Lenght</div>
     <input class="lenght-textbox" id="lenght-textbox" type="text" value="25">
    </div>

    <div class="container-md position-absolute minNumbers">
      <div style="margin-bottom: 8px;">Minimum Numbers</div>
      <input class="min-numbers-textbox" id="min-numbers" type="text" value="1">
     </div>
    </div>

    <div class="container-md position-absolute minSpecials">
      <div style="margin-bottom: 8px;">Minimum Specials</div>
      <input class="min-specials-textbox" id="min-specials" type="text" value="0">
     </div>
    </div>

    <div class="container buttons-container ms-2">
      <input type="button" value="Generate Password" class="generatePsw" id="generatePsw" onclick="generatePassword()">
      <input type="button" class="btn btn-secondary" value="Copy Password" onclick="Copy()" id="cp_btn">
    </div>


    <script>

      document.getElementById("cp_btn").addEventListener("click", Copy);
      document.getElementById("generatePsw").addEventListener("click", generatePassword);

      function Copy(){
          const copyText = document.getElementById('password-generator')
          copyText.select();
          document.execCommand('copy')
      }

      function generatePassword() {

        const length = document.getElementById('lenght-textbox').value;
        const minNumbers = document.getElementById('min-numbers').value;
        const minSpecials = document.getElementById('min-specials').value;

        let charset = "";

        const a_z = "abcdefghijklmnopqrstuvwxyz";
        const numbers = "0123456789";
        const A_Z = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        const S_chars = "!@#$%^&*"; 

        if(document.getElementById('a-z').checked)
              charset += a_z;
        

        if(document.getElementById('a-z-uppercase').checked)
              charset += A_Z ;
        

        if(document.getElementById('special-chars').checked)
              charset += S_chars ;
        

        if(document.getElementById('numbers').checked)
              charset += numbers;
        

        let result = "";
        let i = 0;
        const n = charset.length

        for (; i < length; ++i) {
          result += charset.charAt(Math.floor(Math.random() * n));
        }

        let checkNumbers = result.match(/\d/g)?.length || 0;
        let checkSpecials = result.match(/[!@#$%^&*]/g)?.length || 0;
        console.log(checkSpecials)

        let j;
        let char;
        while(checkNumbers < minNumbers){

            i = Math.floor(Math.random() * result.length);
            j = result.charAt(i);

            if(!(j.match(/\d/g))){
              char = numbers.charAt(Math.floor(Math.random() * numbers.length));
              result = setCharAt(result, i, char);
            }

            checkNumbers = result.match(/\d/g)?.length || 0;

        }

        while(checkSpecials < minSpecials){

            i = Math.floor(Math.random() * result.length);
            j = result.charAt(i);
            

            if(!(j.match(/[!@#$%^&*]/g))){
              char = S_chars.charAt(Math.floor(Math.random() * S_chars.length));
              result = setCharAt(result, i, char);
            }

            checkSpecials = result.match(/[!@#$%^&*]/g)?.length || 0;

        }
     
        document.getElementById('password-generator').value = result;

      }

      function setCharAt(str,index,chr) {
        if(index > str.length-1) return str;
        return str.substring(0,index) + chr + str.substring(index+1);
      }

    </script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
  </body>
</html>