
body{
  background-color: /* dark mode: #04192F*/ rgb(238, 238, 238) !important;
  margin: 0;
  color: #0b65f5eb !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.header{
  top: 0;
  box-shadow: 1.7px 1px 5px black;
  background-color: #b8143c !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidebar{
  /* dark mode: border-right: 1.5px solid #b8143dc7;*/
  box-shadow: 2px 1px 5px black;
  position: fixed;
  left: 0;
  top: 56px;
  bottom: 0;
  background-color: #10283c !important;
}

.activated{
  background-color: #0b65f5eb !important;
  color: white !important;
}

.trash-bin-logo{
  position: absolute;
  width: 43px;
  height: 40px;
}

.favorites-logo{
  position: absolute;
  width: 19px;
  height: 20px;
  left: 40px;
  top: 66px;
}

.menu-user{
  background-color: rgb(231, 231, 231) !important;
}

.title{
  margin-left: 26.7%;
  margin-top: -32%;
  width: 67%;
  font-size: 24px;
}

.add-button{
  background-color: #0b65f5eb !important;
  color: white !important;
  height: 32px;
  margin-top: 7px;
  margin-right: 10px;
  border-color: #0b65f5eb !important;
  font-size: 13px !important;
}

.add-button:hover{
  background-color: #0752c9eb  !important;
  border-color: #0752c9eb   !important;
}

.item-flex{
  position: absolute;
  width: 65%;
  margin-left: 26.7%;
  margin-top: -10%;
}

.item{
  border-top: 1px solid  #68707a;
  height: 60px;
}

.logo-item{
  width: 32px;
  height: 32px;
  margin-top: 10px;
  text-decoration: none;
}

.title-item{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #186aeeeb; /*#185e97*/
}

.title-item:hover{
  color: #c5103d;
}

.email-text-item{
  color: #68707a;
  position: absolute;
  font-size: 14px;
  margin-top: 4%;
  left: 7.4%; 
}

.edit-button{
  height: 20%;
  color: #c91743 !important;
  background-color: rgb(237, 237, 237)!important;
  border-color: #88929e !important;
  position: absolute;
  border-radius: 4px;
  right: 0.2%;
  margin-top: 1.1%;
  transition: 0.4s;
}

.edit-button:hover{
  color: #8a0929 !important;
  background-color: rgb(217, 217, 217) !important;
  border-color: #68717c;
}

:root {
  --modal-duration: 1s;
  --modal-color: #b8143c;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin-left: 20%;
  margin-top: 4%;
  width: 67% !important;
  height: 80% !important;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: rgb(238, 238, 238);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-footer {
  width: 100%;
  background: var(--modal-color);
  padding-top: 1.7% !important;
  color: rgb(238, 238, 238);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.addClose,
.editClose{
  color: #ccc;
  float: right;
  font-size: 30px;
  color: rgb(238, 238, 238);
}

.addClose:hover,
.addClose:focus,
.editClose:hover,
.editClose:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.add-btn,
.update-btn{
  background-color: #173954 !important;
  color: #dae7fceb !important;
}