
body{
  background-color: /* dark mode: #04192F*/ rgb(231, 231, 231) !important;
  margin: 0;
  color: #0b7cf5 !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
  box-shadow: 1.7px 1px 5px black;
  background-color: #b8143c !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidebar{
  /* dark mode: border-right: 1.5px solid #b8143dc7;*/
  box-shadow: 2px 1px 5px black;
  position: fixed;
  top: 56px;
  bottom: 0;
  background-color: #10283c !important;
}

.activated{
  background-color: #0b65f5eb !important;
  color: white !important;
}

.trash-bin-logo{
  position: absolute;
  width: 43px;
  height: 40px;
}

.favorites-logo{
  position: absolute;
  width: 19px;
  height: 20px;
  left: 40px;
  top: 66px;
}

.menu-user{
  background-color: rgb(231, 231, 231) !important;
}